.btn-color{
    color: #fff !important;    
}
  
.profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
} 
  
.cardbody-color{
    background-color: #ffffff;
}
  
a{
    text-decoration: none;
}
.login_title {
    font-size: 2rem;
    font-family: system-ui;
    font-weight: 800;
    color: #ffbc21 !important;
    background-color: #000;
    padding: 0.5rem;
    border-radius: 3rem;
    margin-top: 3rem;
}

/* backend */
.backend_container {
    z-index: 1;
    position: relative;
    overflow-x: hidden;
}

.backend_container .header {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.backend_container .header .item {
    background-color: #961f3b;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 8px #000000;
    font-size: 1.5rem;
}

.backend_container .header .item .inside_item {
    border: 0.01rem solid #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    display: block;
}

.backend_container .header .item .inside_item.active {
    border: 0.01rem solid #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fff;
    color:#961f3b;
}

.background-image {
    position: absolute;
    z-index: 0;
    opacity: 0.3;
}

.content .item {
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: inset -1px 3px 5px #919191;
    margin: 0.3rem;
}

.content .item.active {
    background-color: #d0d0d0;
}

.content .item.active input[name="ma_so_nhan_giai"], .content .item.active input[name="ten_nguoi_nhan_giai"] {
    background-color: #c0c0c0;
    text-align: center;
    color: #fff;
}

.content .item input {
    margin-bottom: 0.3rem;
}

.content .item button {
    width: 100%;
    color: #961f3b;
    font-size: 1.2rem;
    font-weight: 600;
}

.content .title {
    font-size: 1.2rem;
    background-color: #961f3b;
    padding: 0.3rem 1rem;
    color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-check-input {
    padding: 0.5rem !important;
}

.form-check-input:checked {
    background-color: #961f3b !important;
    border-color: #961f3b !important;
}