body {
    background-color: #f5f5f5 !important;
}
.btn-color{
    color: #fff !important;    
}
  
.profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
} 
  
.cardbody-color{
    background-color: #ffffff;
}
  
a{
    text-decoration: none;
}
.login_title {
    font-size: 2rem;
    font-family: system-ui;
    font-weight: 800;
    color: #ffbc21 !important;
    background-color: #000;
    padding: 0.5rem;
    border-radius: 3rem;
    margin-top: 3rem;
}

/* backend */
.backend_container {
    z-index: 1;
    position: relative;
    overflow-x: hidden;
    padding: 1rem;
    border: 0.01rem solid #ffbc21;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: inset 1px 1px 8px #818181;
}

.backend_container .header {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.backend_container .header .item {
    background-color: #ffffff;
    color: #cfcfcf;
    padding: 0.3rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 8px #000000;
    font-size: 1.2rem;
}

.backend_container .header .item .inside_item {
    border: 0.01rem solid #fff;
    border-radius: 0.5rem;
    padding: 0.1rem;
    cursor: pointer;
    text-decoration: none;
    color: #727272;
    width: 100%;
    display: block;
    font-weight: 600;
    font-family: system-ui;
}

.backend_container .header .item .inside_item.active {
    border: 0.01rem solid #fff;
    border-radius: 0.5rem;
    padding: 0.1rem;
    background-color: #ffbc21;
    color: #ffffff;
}

.background-image {
    position: absolute;
    z-index: 0;
    opacity: 0.3;
}

.content .item {
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.3rem;
    border: 0.01rem solid #cfcfcf;
    margin: 0.3rem;
    padding: 1.5rem;
}

/* .content .item.active {
    background-color: #d0d0d0;
}

.content .item.active input[name="ma_so_nhan_giai"], .content .item.active input[name="ten_nguoi_nhan_giai"] {
    background-color: #c0c0c0;
    text-align: center;
    color: #fff;
} */

.content .item input, .content .item select {
    margin-bottom: 0.3rem;
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
}

.content .item button {
    width: fit-content;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.15rem 3rem;
    background-color: #cbcbcb;
    border-color: #cdcdcd;
    margin-top: 1rem;
    box-shadow: 1px 1px 2px #707070;
}

.content .title {
    font-size: 1.2rem;
    background-color: #f5f5f5;
    padding: 0.3rem 1rem;
    color: #464646;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: inset 1px 1px 3px #838383;
}

.form-check-input {
    padding: 0.5rem !important;
}

.form-check-input:checked {
    background-color: #afafaf !important;
    border-color: #858585 !important;
}

.group_inside_item {
    padding: 0.3rem;
    border: 0.01rem solid #d7d7d7;
    width: 98% !important;
    margin: auto;
    border-radius: 0.3rem;
    margin-top: 1rem !important;
}

.group_inside_item .group_title {
    background-color: #f7f7f7;
    border-radius: 1rem;
    color: #626262;
    font-size: 1rem;
    padding: 0.1rem 0.3rem 0.2rem;
    position: absolute;
    margin-top: -1.2rem;
}

/* phân trang */
nav[role="navigation"] {
    text-align: center;
}
  
/* nav[role="navigation"] .pagination {
    width: fit-content;
    margin: auto;
}
  
nav[role="navigation"] .page-item .page-link {
    color: #7e0000;
}
  
nav[role="navigation"] .page-item.active .page-link {
    background-color: #7e0000;
    border-color: #7e0000;
    color: #fff;
} */

nav[role="navigation"] a {
    text-decoration: none;
    color: #ffbc21;
}

span[aria-current="page"] .cursor-default {
    background-color: #ffbc21 !important;
    color: #fff;
}

nav[role="navigation"] img, svg {
    vertical-align: middle;
    width: 3rem;
}

nav[role='navigation'] > div > div span[aria-disabled="true"]{
    display: none;
}

nav[role='navigation'] .flex-1 {
    display: none;
}

.error_active {
    background-color: #f8d7da !important;
}

.success_active {
    background-color: #d1e7dd !important;
}

.prize_hide_btn {
    cursor: pointer;
    text-decoration: none;
}

.prize_hide_btn:hover {
    background-color: #ffcd39;
    color: #fff;
}