.popup_background {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  .popup_background .left_popup_background {
    float: left;
    padding: 5rem;
  }
  
  .popup_background .left_popup_background img {
    width: 15rem;
  }
  
  .popup_background .right_popup_background {
    float: right;
    padding: 5rem;
  }
  
  .popup_background .right_popup_background img {
    width: 15rem;
  }
  
  .popup_background .center_popup_background {
    padding: 5rem;
  }
  
  .popup_background .center_popup_background img {
    width: 15rem;
  }
      /* fireworks */
  
  canvas {
    vertical-align: middle;
  }
  .fireworks {
    width: 100%;
    position: absolute;
    background-color: #fff;
  }
  #canvas-container {
    height: 100%;
      position: relative;
      width: 100%;
      z-index: 1;
  }
  canvas {
    cursor: crosshair;
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
  }
  canvas:active {
    cursor: crosshair;
  }
  .fw-text-wrapper {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  .fw-text-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0.5em;
    left: 0;
    margin: auto;
    height: 1em;
    font-weight: 900;
    font-size: 4.5em;
  }
  .fw-text-overlay .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0;
    font-size: 5rem;
    font-weight: 800;
    color: #ff9626;
  }

  #prize_customer {
    display: none;
  }