.popup_background {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background: #000; */
    box-shadow: inset 1px 1px 20px 0px #0000007a;
  }

  .popup_background_frame {
    width: 80%;
    height: 100%;
    /* box-shadow: inset 1px 1px 20px #000; */
    margin: auto;
    border-radius: 30rem;
  }

.popup_background_frame img {
  opacity: 0.5;
  margin: auto;
  /* width: 100%; */
  height: 100%;
  align-items: center;
  display: block;
  animation: animName 20s linear infinite;
  filter: drop-shadow(2px 4px 50px #fff);
}

@keyframes animName {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes animNameLeft {
  100%{
    transform: rotate(0deg);
  }
  0%{
    transform: rotate(360deg);
  }
}
  
  .popup_background .left_popup_background {
    float: left;
    padding: 5rem;
    height: 100%;
  }
  
  .popup_background .left_popup_background img {
    width: 20rem;
  }
  
  .popup_background .right_popup_background {
    float: right;
    padding: 5rem;
    height: 100%;
  }
  
  .popup_background .right_popup_background img {
    width: 20rem;
    bottom: 0;
    position: absolute;
    padding: 3rem;
  }
  
  .popup_background .center_popup_background {
    padding: 5rem;
  }
  
  .popup_background .center_popup_background img {
    width: 15rem;
  }
      /* fireworks */
  
  canvas {
    vertical-align: middle;
  }
  .fireworks {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #930000;
  }
  #canvas-container {
    height: 100%;
      position: relative;
      width: 100%;
      z-index: 1;
  }
  canvas {
    cursor: crosshair;
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
  }
  canvas:active {
    cursor: crosshair;
  }
  .fw-text-wrapper {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  .fw-text-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0.5em;
    left: 0;
    margin: auto;
    height: 1em;
    font-weight: 900;
    font-size: 4.5em;
  }
  .fw-text-overlay .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0;
    font-size: 5rem;
    font-weight: 800;
    color: #ffd500;
    /* z-index: 1; */
  }

  #prize_customer, #prize_customer_logo, #close_prize_customer {
    display: none;
  }

  #prize_customer h1 {
    color: #ffd500;
    text-shadow: 1px 1px 1px #000;
    font-weight: 800;
    font-family: system-ui;
  }

  .sub_title_popup {
    font-size: 4rem !important;
    font-weight: 800 !important;
    text-align: center;
    /* background: url("../images/text_background2.png"); */
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: #ffffff !important;
    text-shadow: 1px 1px 20px #ffa500;
  }
  
  /* @keyframes moveBgPopup {
    0% {
      background-position: 0% 30%;
    }
    10% {
      background-position: 30% 60%;
    }
    20% {
      background-position: 60% 90%;
    }
    30% {
      background-position: 90% 120%;
    }
    40% {
      background-position: 120% 150%;
    }
    50% {
      background-position: 150% 180%;
    }
    60% {
      background-position: 210% 240%;
    }
    70% {
      background-position: 240% 270%;
    }
    80% {
      background-position: 270% 300%;
    }
    90% {
      background-position: 300% 330%;
    }
    100% {
      background-position: 330% 350%;
    }
  } */

  #winner {
    font-size: 4rem;
    font-weight: 800;
    color: #fffcfa;
    font-family: sans-serif;
}

  #close_prize_customer {
    background-color: #930000;
    border: none;
    padding: -2.5rem 0 2rem;
    font-size: 1.2rem;
    color: #ffd500;
    font-weight: 500;
    border: 0.3rem solid #ffd500;
    box-shadow: inset 1px 1px 7px #000;
    border-radius: 3rem;
  }

  .flower_left_background {
    position: absolute;
    opacity: 0.1;
    height: 80%;
    animation: scrolltop 10s linear infinite;
    background-repeat: repeat;
    top: -15rem;
    filter: drop-shadow(0px 7px 7px #000);
    animation: animNameLeft 50s linear infinite;
  }

  .flower_right_background {
    position: absolute;
    opacity: 0.2;
    height: 100%;
    animation: scrollbottom 10s linear infinite;
    background-repeat: repeat;
    /* width: 14rem; */
    filter: drop-shadow(0px 7px 7px #000);
    right: -12rem;
    bottom: -12rem;
    animation: animName 50s linear infinite;
  }

  @keyframes scrolltop {
    from {
      top: 0%;
    }
    to {
      top: -30%;
    }
  }

  @keyframes scrollbottom {
    from {
      bottom: 0%;
    }
    to {
      bottom: -30%;
    }
  }
  